.container{
  background-image: url('./images/backgroundpics.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}
header{
    height: 50px;
    background: #1F39E0;
    width: 98.5%;
    z-index: 12;
    display: flex;
    padding-left: 20px;
    /* padding-right: 20px; */
    margin-right: 10px;

}
.lists{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    color: white;
    padding-top: 15px;
    margin-left: 30px;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    border-style: groove;
}
.kudi-image{
   gap: 10px;
   margin-top: 10px;
}
.nav{
    margin-left: 30%;
    padding-top: 10px;
}
.btn-nav1{
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border-color: white;
    background:#1F39E0;
    color: white;
    margin: 5px;
    position: relative;
    bottom: 8px;
}
.btn-nav2{
    height: 35px;
    width: 100px;
    border-radius: 8px;
    /* top: 7px; */
    position: relative;
    bottom: 8px;
   
    /* border-color: white; */
    background:#F29A02;
    color: white;
}
.content{
    color: white;
    margin-left: 5%;
}
.woman{
    width: 450px;
    height: 400px;
    margin-left: 58%;
    margin-top: -22%;
   
        
}
.middle{
    margin-top: 10%;
    height: 400px;
    width: 100%;
}

    .image2{
        position: relative;
        right: 123px;
        bottom: 45px;
        height: 60px;

    }
    .image1{
        height: 150px;
    }
    .image3{
        height: 120px;
        
    }
    .image4{
        position: relative;
        right: 110px;
        bottom: 45px;
        height: 60px
        
        
        
    }
    .imago{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        /* gap: 150px; */
        justify-content: space-evenly;
    }
    .earn{
       text-align: center;
    }
    .question1{
        border: #1F39E0;
        border-width:1px;  
        border-style:solid;
        width: 30%;
        
    }
    .question1 p{
        width: 70%;
        font-size: small;
        margin-left: 30px;
    }
    .question2{
        border: #1F39E0;
        border-width:1px;  
        border-style:solid;
        width: 20%;
        
    }
    .question2 p{
        width: 70%;
        font-size: small;
        margin-left: 30px;
    }
    .question3{
        border: #1F39E0;
        border-width:1px;  
        border-style:solid;
        width: 20%;
    }
    .question3 p{
        width: 70%;
        font-size: small;
        margin-left: 30px;
    }
    .questions{
        display: flex;
        gap: 90px;
        margin-left: 70px;
    }
.package{
    background: transparent linear-gradient(180deg, #021E53 16%, #022759 30%, #032C5D 35%, #1E65FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 50px;
    padding-top: 50px;
    height: 1000px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-column-gap: 0px; */
    grid-row-gap: 50px;
    padding-top: 20px;
    
    /* margin-top: 100px; */
  
    }
.grid-item{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    margin-left: 70px;
    
}
.grid-item button{
    background-color: #1E65FF;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    color: white;
}
.smile img{
    width: 300px;
    height: 400px;
}
.line{
    /* color: #1E65FF; */
    border-left: 2px solid #1E65FF;
    height: 90px;
    
}
.passive{
    
}
.kudicom{
    width: 50%;
}
.shares{
    width: 59%;
    display: flex;
    /* justify-content: space-between;
    align-content: space-between; */
    font-size: small;
    gap: 100px; 
}
.share{
    width: 50%;
    display: flex;
    font-size: smaller;
    gap: 30px;
}
.approach{
    display: flex;
    gap: 100px;
    margin-left: 150px;
    padding-top: 30px;
}
.section3{
    background-color: #F8F8F8;    
    height: 600px;
    padding-top: 30px;
   
}
.shares1{
    position: relative;
    bottom: 105px;
    left: 15px;
}
.shares2{
    position: relative;
    bottom: 105px;
    left: 15px;
}
.sub-shares{
    margin-left: 100px;
}
.share1{
    position: relative;
    bottom: 105px;
    left: 15px;
}
.share2{
    position: relative;
    bottom: 105px;
    left: 15px;
}
.section4{
    background-color: #1E65FF;
    color: white;
    text-align: center;
    height: 250px;
    padding-top: 30px;
}
.section4 p{
    width: 45%;
    margin-left: 30%;
}
.info{
    background: transparent linear-gradient(180deg, #021E53 16%, #022759 30%, #032C5D 35%, #1E65FF 100%) 0% 0% no-repeat padding-box;
    color: white;
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    height: 250px;
    gap: 35px;
}
ul{
    list-style-type: square;
    color: #F29A02;
}
hr {
    width: 150px;
    background-color: grey;
}
.infodiv p{
    width: 40%;
    font-size: 12px;
}
.inform{
    width: 15%;
    font-size:12px ;
    }
   #move{
       position: relative;
       bottom: 38px;
       left: 25px;
   }
   #move2{
       position: relative;
       bottom: 12px;
       left: 20px;
   }
   .in2{
       position: relative;
       right: 30px;
   }
   .about{
    width: 15%;
    font-size:12px ;
   }
   
   .about h3{
       position: relative;
       left: 12%;
   }
   .resources{
    width: 15%;
    font-size:12px ;
   }
   .resources h3{
        position: relative;
        left: 12%;
   }
footer{
    background: #1F39E0;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.foot{
    display: flex;
}
.btn1{
    font-size: 1.2em;
}
.btn0 img{
    position: relative;
    top: 5px;
    
}
.btn0 button{
    height: 38px;
    border-radius: 8px;
    border: none;
    float: right;
   margin: 10px;
   position: relative;
   bottom: 45px;
}
.para{
    color: #1F39E0;
    position: relative;
    bottom: 10px;
    left: 3px;
}
.symbols{
    position: relative;
    top: 15px;
    left: 8px;
    font-size: 12px;
}
.last{
    color: #1F39E0;
    margin-left: 50%;
    font-size: 10px;
}
.empty{
    /* border-radius: 8px;
    border-style: 1px solid;
    width: 10px;
    height: 10px;
    color:white ; */
    height: 10px;   
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    
}
.empty1{
    height: 10px;
    width: 10px;
    background-color: blue;
    border: white;
    border-radius: 50%;
    display: inline-block;
    
}